* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  align-self: center;
}

#trybewarts-header-title {
  align-self: center;
}

.display-flex {
  display: flex;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.display-input {
  margin: 5px;
  width: 300px;
  border: 2px solid rgb(50, 167, 145);
}

.input-login {
  margin: 5px;
  width: 100px;
  border: 2px solid black;
}

.btn {
  width: 50px;
  font-weight: 100;
  cursor: pointer;
}

.div-border {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-title {
  font-weight: 100;
  font-size: 20px;
}
