* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.display-flex {
  display: flex;
}

.header {
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  padding: 10px 30px;
}

.trybewarts-login {
  align-self: center;
}

.header-title {
  align-self: center;
}

main {
  justify-content: space-around;
}

.evaluation-form {
  flex-direction: column;
  width: 675px;
}

.trybewarts-forms-logo {
  align-self: center;
  height: 500px;
}

.display-input {
  border: 2px solid rgb(50, 167, 145);
  border-radius: 5px;
  margin: 5px;
  width: 300px;
}

.input-login {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  width: 100px;
}

.btn {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  padding: 8px;
  width: 80px;
}

.style-div {
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.label-title {
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 15px;
}

.display-text {
  display: none;
}

.btn-submit {
  align-self: center;
  background-color: rgb(50, 167, 145);
}

.display-row {
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.counter {
  font-size: 15px;
}

.agreement {
  padding: 15px;
}

footer {
  background-color: rgb(50, 167, 145);
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}
